@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Literata', sans-serif;
}

body {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

.logo h1 {
    color: #4da6ff;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0a1f44;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 800px;
    padding: 15px 40px;
    z-index: 1000;
    text-transform: uppercase;
    border-radius: 0 0 8px 8px;

    transition: top 0.4s ease-in-out;
    /* animação suave */
}

nav h1 {
    color: #4da6ff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

nav ul li a:hover {
    color: #4da6ff;
}

/* SEÇÕES */
section {
    padding: 100px 40px;
    min-height: 100vh;
}

/* HERO */
.hero {
    position: relative;
    /* ESSENCIAL */
    height: 100vh;
    color: white;
    background: linear-gradient(180deg, #0a1f44, #1e3c72);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero * {
    position: relative;
    z-index: 1;
}

.waves-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.waves-bg span {
    position: absolute;
    width: 200%;
    height: 200%;
    background: rgba(77, 166, 255, 0.1);
    border-radius: 40%;
    animation: waveMove 10s linear infinite;
}

/* Camadas diferentes pra dar efeito mais bonito */
.waves-bg span:nth-child(1) {
    top: 60%;
    left: -50%;
    animation-duration: 12s;
}

.waves-bg span:nth-child(2) {
    top: 65%;
    left: -50%;
    animation-duration: 18s;
    opacity: 0.5;
}

.waves-bg span:nth-child(3) {
    top: 70%;
    left: -50%;
    animation-duration: 25s;
    opacity: 0.3;
}

@keyframes waveMove {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

.hero-img {
    width: 350px;
    margin-top: 20px;
    opacity: 0.9;
    border-radius: 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 150;
}

.hero p {
    margin-bottom: 20px;
    font-weight: 500;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #4da6ff;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.hero button:hover {
    background: #3399ff;
}

.carousel {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 0 30px rgba(77, 166, 255, 0.5);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}

.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}

/* OUTRAS SEÇÕES */
.section {
    background: #e6f0ff;
    margin-bottom: 5px;
}

/*Sobre*/
#sobre {
    background: linear-gradient(180deg, #020617, #0a1f44);
    color: #f1f5f9;
    padding: 60px 20px;
}

.sobre-box {
    width: 100%;
    max-width: 1200px;
    margin: 120px auto;
    line-height: 1.5;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 1.8;
    padding: 35px;
    border-radius: 16px;
    text-align: justify;
    backdrop-filter: blur(10px);
    font-size: 20px;
}

.sobre-box p {
    color: #cbd5e1;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.sobre-box:hover {
    box-shadow: 0 0 30px rgba(77, 166, 255, 0.15);
    transition: 0.3s;
}

#sobre h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 25px;
    color: #f1f5f9;
}

#sobre h2::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #4da6ff;
    display: block;
    margin: 10px auto;
}

h2 {
    margin-bottom: 20px;
}

/*Como funciona*/

#funciona {
    background: linear-gradient(180deg, #020617, #0a1f44);
    color: #f1f5f9;
}

#funciona h2 {
    text-align: center;
    font-size: 36px;
    color: #f1f5f9;
}

#funciona h2::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #4da6ff;
    display: block;
    margin: 10px auto;
}

.funciona-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.funciona-box {
    flex: 1;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 25px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.funciona-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(77, 166, 255, 0.2);
}

.funciona-box h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

.funciona-box p {
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 12px;
    font-weight: 500;
}

/*Diferencial*/

#diferencial {
    background: linear-gradient(180deg, #020617, #0a1f44);
    color: #f1f5f9;
    padding: 60px 20px;
}

#diferencial h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 25px;
    color: #f1f5f9;
}

#diferencial h2::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #4da6ff;
    display: block;
    margin: 10px auto;
}

.diferencial-box {
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 35px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border-left: 4px solid #4da6ff;
}

.diferencial-box p {
    color: #cbd5e1;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 15px;
    font-weight: 500;
}

.fontes {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.fontes h4 {
    margin-bottom: 10px;
    color: #f1f5f9;
}

.fontes ul {
    padding-left: 20px;
}

.fontes li {
    margin-bottom: 5px;
    font-size: 15px;
    color: #cbd5e1;
}

/*Comprar*/
/*Fundo*/

.compra {
    text-align: center;
    background: linear-gradient(180deg, #0a1f44, #121c2b);
    color: #f1f5f9;
}

/*Fundo Final, só para separar*/

.compra h2 {
    text-align: center;
    font-size: 36px;
    color: #f1f5f9;
    margin-bottom: 25px;
    position: relative;
}

#comprar h2::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #4da6ff;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.impacto {
    max-width: 700px;
    margin: 0 auto 30px;
    font-size: 18px;
    color: #cbd5e1;
}

.comparacao {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.lado {
    border-radius: 16px;
    padding: 30px;
    transition: 0.3s;
}

.lado:hover {
    transform: translateY(-5px);
}

.sem {
    border-left: 4px solid #ff4d4d;
    border: 1px solid rgba(255, 77, 77, 0.5);
    box-shadow: 0 0 20px rgba(77, 166, 255, 0.2);
}

.sem:hover {
    color: red;
}

.com {
    border-left: 4px solid #4da6ff;
    border: 1px solid rgba(77, 166, 255, 0.5);
    box-shadow: 0 0 20px rgba(77, 166, 255, 0.2);
}

.com:hover {
    color: rgb(25, 93, 171);
}

.lado h3 {
    margin-bottom: 15px;
}

.lado ul {
    list-style: none;
}

.lado li {
    margin-bottom: 10px;
    font-size: 16px;
}

.cta {
    margin-top: 20px;
}

.cta h3 {
    color: #ffffff;
    font-size: 28px;
}

.cta p {
    font-size: 18px;
    margin-bottom: 15px;
}

.btn-comprar {
    padding: 12px 25px;
    background: #4da6ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: #3399ff;
    transform: scale(1.05);
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    flex: 1;
    min-width: 250px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destaque {
    text-align: center;
    background: #e6f0ff;
}

/*Login*/
.login-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.login-box {
    background: #020617;
    padding: 30px;
    border-radius: 16px;

    width: 320px;

    border: 1px solid rgba(255, 255, 255, 0.1);

    text-align: center;
    color: #f1f5f9;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    color: white;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #4da6ff;
    border: none;
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.btn-login:hover {
    background: #3399ff;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.criar span {
    color: #4da6ff;
    cursor: pointer;
}


/*Footer*/
.footer {
    background: #0a1f44;
    color: white;
    margin-top: 10px;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.footer-box {
    max-width: 200px;
    flex: 1;
}

.footer-box h3 {
    margin-bottom: 10px;
    color: #4da6ff;
}

.footer-box p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    background: #081833;
    font-size: 14px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo-footer img {
    width: 200px;
    height: auto;
}